if(response.ctatt.route[0].train[i].destNm == "Linden"]){
							var Linden = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Central"){
							var Central = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Noyes = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Foster = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Davis = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Dempster = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Main = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var SouthBlvd = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Howard = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Wilson = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Belmont = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Wellington = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Diversey = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Fullerton = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Armitage = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Sedgwick = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var MerchMart = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var ClarkLake = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var StateLake = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var LasalleVan = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var Quincy = true;
						}
						if(response.ctatt.route[0].train[i].destNm == "Noyes"){
							var WashWells = true;
						}
					}


                    
Stop_ID

Descriptive Stop Name

Normal traffic flow to:

Parent Stop_ID

30162   18th	West	40830
30161	18th	East	40830
30214	35-Bronzeville-IIT	South	41120
30213	35-Bronzeville-IIT	North	41120
30023	35th/Archer	South	40120
30022	35th/Archer	North	40120
30246	43rd	South	41270
30245	43rd	North	41270
30209	47th (Green Line)	North	41080
30210	47th (Green Line)	South	41080
30237	47th (Red Line)	North	41230
30238	47th (Red Line)	South	41230
30024	51st	North	40130
30025	51st	South	40130
30114	54th/Cermak	West	40580
30113	54th/Cermak	East	40580
30177	63rd	North	40910
30178	63rd	South	40910
30192	69th	South	40990
30191	69th	North	40990
30046	79th	North	40240
30047	79th	South	40240
30276	87th	South	41430
30275	87th	North	41430
30088	95th	North	40450
30089	95th	South	40450
30131	Adams/Wabash	North (Outer Loop)	40680
30132	Adams/Wabash	South (Inner Loop)	40680
30240	Addison (Blue Line)	South	41240
30239	Addison (Blue Line)	North	41240
30278	Addison (Brown Line)	South	41440
30277	Addison (Brown Line)	North	41440
30273	Addison (Red Line)	North	41420
30274	Addison (Red Line)	South	41420
30230	Argyle	South	41200
30229	Argyle	North	41200
30127	Armitage	North	40660
30128	Armitage	South	40660
30056	Ashland/63rd	East	40290
30057	Ashland/63rd	West	40290
30033	Ashland (Green, Pink Lines)	West	40170
30032	Ashland (Green, Pink Lines)	East	40170
30205	Ashland (Orange Line)	North	41060
30206	Ashland (Orange Line)	South	41060
30001	Austin (Blue Line)	East	40010
30002	Austin (Blue Line)	West	40010
30243	Austin (Green Line)	East	41260
30244	Austin (Green Line)	West	41260
30255	Belmont	North	41320
30256	Belmont	South	41320
30257	Belmont	North	41320
30258	Belmont	South	41320
30013	Belmont (Blue Line)	South	40060
30012	Belmont (Blue Line)	North	40060
30067	Berwyn	South	40340
30066	Berwyn	North	40340
30267	Bryn Mawr	North	41380
30268	Bryn Mawr	South	41380
30087	California (Pink Line)	West	40440
30086	California (Pink Line)	East	40440
30266	California (Green Line)	West	41360
30265	California (Green Line)	East	41360
30111	California (Blue Line-O'Hare Branch)	North	40570
30112	California (Blue Line-O'Hare Branch)	South	40570
30151	Central Park	East	40780
30152	Central Park	West	40780
30054	Central (Green Line)	East	40280
30055	Central (Green Line)	West	40280
30241	Central-Purple	North	41250
30242	Central-Purple	South	41250
30194	Cermak-Chinatown	South	41000
30193	Cermak-Chinatown	North	41000
30381	Cermak-McCormick Place	North	41690
30382	Cermak-McCormick Place	South	41690
30271	Chicago (Blue Line)	North	41410
30272	Chicago (Blue Line)	South	41410
30137	Chicago (Brown Line)	North	40710
30138	Chicago (Brown Line)	South	40710
30280	Chicago (Red Line)	South	41450
30279	Chicago (Red Line)	North	41450
30082	Cicero (Pink Line)	East	40420
30083	Cicero (Pink Line)	West	40420
30188	Cicero-Forest Park	West	40970
30187	Cicero-Forest Park	East	40970
30009	Cicero (Green Line)	West	40480
30094	Cicero (Green Line)	East	40480
30122	Clark/Division	South	40630
30121	Clark/Division	North	40630
30074	Clark/Lake (Elevated)	East (Inner Loop)	40380
30075	Clark/Lake (Elevated)	West (Outer Loop)	40380
30375	Clark/Lake (Subway)	North	40380
30374	Clark/Lake (Subway)	South	40380
30084	Clinton (Blue Line)	East	40430
30085	Clinton (Blue Line)	West	40430
30221	Clinton (Green, Pink Lines)	East	41160
30222	Clinton (Green, Lines)	West	41160
30291	Conservatory	East	41670
30292	Conservatory	West	41670
30045	Cumberland	South	40230
30044	Cumberland	North	40230
30018	Damen (Brown Line)	North	40090
30019	Damen (Brown Line)	South	40090
30040	Damen (Pink Line)	East	40210
30041	Damen (Pink Line)	West	40210
30116	Damen (Blue Line-O'Hare Branch)	South	40590
30115	Damen (Blue Line-O'Hare Branch)	North	40590
30010	Davis	North	40050
30011	Davis	South	40050
30134	Dempster	South	40690
30133	Dempster	North	40690
30026	Dempster-Skokie	North	40140
30027	Dempster-Skokie	South	40140
30103	Diversey	North	40530
30104	Diversey	South	40530
30062	Division	North	40320
30063	Division	South	40320
30139	Cottage Grove	East	40720
30140	Cottage Grove	West	40720
30077	Forest Park	West	40390
30076	Forest Park	East	40390
30101	Foster	North	40520
30102	Foster	South	40520
30168	Francisco	South	40870
30167	Francisco	North	40870
30233	Fullerton	North	41220
30236	Fullerton	South	41220
30235	Fullerton	North	41220
30234	Fullerton	South	41220
30099	Garfield (Green Line)	North	40510
30100	Garfield (Green Line)	South	40510
30223	Garfield (Red Line)	North	41170
30224	Garfield (Red Line)	South	41170
30096	Grand (Blue Line)	South	40490
30095	Grand (Blue Line)	North	40490
30064	Grand (Red Line)	North	40330
30065	Grand (Red Line)	South	40330
30148	Granville	South	40760
30147	Granville	North	40760
30184	Halsted (Green Line)	West	40940
30183	Halsted (Green Line)	East	40940
30215	Halsted (Orange Line)	North	41130
30216	Halsted (Orange Line)	South	41130
30189	Harlem-Forest Park	East	40980
30190	Harlem-Forest Park	West	40980
30004	Harlem (Green Line)	West	40020
30003	Harlem (Green Line)	East	40020
30145	Harlem (Blue Line-O'Hare Branch)	North	40750
30146	Harlem (Blue Line-O'Hare Branch)	South	40750
30165	Harold Washington Library-State/Van Buren	East (Outer Loop)	40850
30166	Harold Washington Library-State/Van Buren	West (Inner Loop)	40850
30285	Harrison	North	41490
30286	Harrison	South	41490
30176	Howard	South	40900
30175	Howard	North	40900
30173	Howard	North	40900
30174	Howard	South	40900
30158	Illinois Medical District	West	40810
30157	Illinois Medical District	East	40810
30059	Indiana	South	40300
30058	Indiana	North	40300
30107	Irving Park (Blue Line)	North	40550
30108	Irving Park (Blue Line)	South	40550
30282	Irving Park (Brown Line)	South	41460
30281	Irving Park (Brown Line)	North	41460
30015	Jackson (Blue Line)	South	40070
30014	Jackson (Blue Line)	North	40070
30110	Jackson (Red Line)	South	40560
30109	Jackson (Red Line)	North	40560
30228	Jarvis	South	41190
30227	Jarvis	North	41190
30248	Jefferson Park	South	41280
30247	Jefferson Park	North	41280
30225	Kedzie (Brown Line)	North	41180
30226	Kedzie (Brown Line)	South	41180
30201	Kedzie (Pink Line)	East	41040
30202	Kedzie (Pink Line)	West	41040
30208	Kedzie (Green Line)	West	41070
30207	Kedzie (Green Line)	East	41070
30048	Kedzie-Homan	East	40250
30049	Kedzie-Homan	West	40250
30219	Kedzie (Orange Line)	North	41150
30220	Kedzie (Orange Line)	South	41150
30249	Kimball	North	41290
30250	Kimball	South	41290
30217	King Drive	East	41140
30218	King Drive	West	41140
30117	Kostner	East	40600
30118	Kostner	West	40600
30289	Lake	North	41660
30290	Lake	South	41660
30136	Laramie	West	40700
30135	Laramie	East	40700
30261	LaSalle	East	41340
30262	LaSalle	West	41340
30031	LaSalle/Van Buren	West (Inner Loop)	40160
30030	LaSalle/Van Buren	East (Outer Loop)	40160
30150	Lawrence	South	40770
30149	Lawrence	North	40770
30204	Linden	South	41050
30203	Linden	North	41050
30197	Logan Square	North	41020
30198	Logan Square	South	41020
30251	Loyola	North	41300
30252	Loyola	South	41300
30052	Main	North	40270
30053	Main	South	40270
30090	Merchandise Mart	North	40460
30091	Merchandise Mart	South	40460
30182	Midway	South	40930
30181	Midway	North	40930
30153	Monroe (Blue Line)	North	40790
30154	Monroe (Blue Line)	South	40790
30212	Monroe (Red Line)	South	41090
30211	Monroe (Red Line)	North	41090
30259	Montrose (Blue Line)	North	41330
30260	Montrose (Blue Line)	South	41330
30288	Montrose (Brown Line)	South	41500
30287	Montrose (Brown Line)	North	41500
30296	Morgan	West	41510
30295	Morgan	East	41510
30021	Morse	South	40100
30020	Morse	North	40100
30126	North/Clybourn	South	40650
30125	North/Clybourn	North	40650
30078	Noyes	North	40400
30079	Noyes	South	40400
30034	Oak Park (Blue Line)	East	40180
30035	Oak Park (Blue Line)	West	40180
30263	Oak Park (Green Line)	East	41350
30264	Oak Park (Green Line)	West	41350
30297	Oakton-Skokie	North	41680
30298	Oakton-Skokie	South	41680
30172	O'Hare	South	40890
30171	O'Hare	North	40890
30254	Paulina	South	41310
30253	Paulina	North	41310
30200	Polk	West	41030
30199	Polk	East	41030
30029	Pulaski (Pink Line)	West	40150
30028	Pulaski (Pink Line)	East	40150
30180	Pulaski (Blue Line-Forest Park Branch)	West	40920
30179	Pulaski (Blue Line-Forest Park Branch)	East	40920
30005	Pulaski (Green Line)	East	40030
30006	Pulaski (Green Line)	West	40030
30186	Pulaski (Orange Line)	South	40960
30185	Pulaski (Orange Line)	North	40960
30008	Quincy/Wells	South (Outer Loop)	40040
30007	Quincy/Wells	North (Inner Loop)	40040
30092	Racine	East	40470
30093	Racine	West	40470
30120	Ridgeland	West	40610
30119	Ridgeland	East	40610
30196	Rockwell	South	41010
30195	Rockwell	North	41010
30080	Roosevelt (Elevated)	North	41400
30081	Roosevelt (Elevated)	South	41400
30270	Roosevelt (Subway)	South	41400
30269	Roosevelt (Subway)	North	41400
30159	Rosemont	North	40820
30160	Rosemont	South	40820
30156	Sedgwick	South	40800
30155	Sedgwick	North	40800
30017	Sheridan	South	40080
30016	Sheridan	North	40080
30293	Sheridan	North	40080
30294	Sheridan	South	40080
30164	South Boulevard	South	40840
30163	South Boulevard	North	40840
30071	Southport	South	40360
30070	Southport	North	40360
30037	Sox-35th	South	40190
30036	Sox-35th	North	40190
30051	State/Lake	West (Outer Loop)	40260
30050	State/Lake	East (Inner Loop)	40260
30169	Thorndale	North	40880
30170	Thorndale	South	40880
30069	UIC-Halsted	West	40350
30068	UIC-Halsted	East	40350
30383	Washington/Wabash	North (Outer Loop)	41700
30384	Washington/Wabash	South (Inner Loop)	41700
30141	Washington/Wells	North (Inner Loop)	40730
30142	Washington/Wells	South (Outer Loop)	40730
30073	Washington (Blue Line)	South	40370
30072	Washington (Blue Line)	North	40370
30098	Washington (Red Line)	South	40500
30097	Washington (Red Line)	North	40500
30232	Wellington	South	41210
30231	Wellington	North	41210
30283	Western (Brown Line)	North	41480
30284	Western (Brown Line)	South	41480
30143	Western (Pink Line)	East	40740
30144	Western (Pink Line)	West	40740
30043	Western (Blue Line-Forest Park Branch)	West	40220
30042	Western (Blue Line-Forest Park Branch)	East	40220
30130	Western (Blue Line-O'Hare Branch)	South	40670
30129	Western (Blue Line-O'Hare Branch)	North	40670
30060	Western (Orange Line)	North	40310
30061	Western (Orange Line)	South	40310
30106	Wilson	South	40540
30105	Wilson	North	40540
30385	Wilson	South	40540
30386	Wilson	North	40540



<script>
	$(document).ready(function(){
		$("#purple").click(function(){
				$.get("http://lapi.transitchicago.com/api/1.0/ttpositions.aspx?key=d37555ccc09141848543ab21e287b560&rt=p&outputType=JSON", function(response){
					$("#trains").empty();
					if(response.ctatt.route[0].train.length > 0){
						for(var i = 0; i<response.ctatt.route[0].train.length; i++){
						console.log(response.ctatt.route[0].train[i].nextStaNm);
						$("#trains").append("<h4>" + response.ctatt.route[0].train[i].rn + "</h4>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].destNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].nextStaNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].arrT + "</p>");
						$("#trains").append("<br><br>");
						}
					}	
			});
		});
		$("#yellow").click(function(){
				$.get("http://lapi.transitchicago.com/api/1.0/ttpositions.aspx?key=d37555ccc09141848543ab21e287b560&rt=Y&outputType=JSON", function(response){
					$("#trains").empty();
					if(response.ctatt.route[0].train.length > 0){
						for(var i = 0; i<response.ctatt.route[0].train.length; i++){
							console.log(response.ctatt.route[0].train[i].nextStaNm);
							$("#trains").append("<h4>" + response.ctatt.route[0].train[i].rn + "</h4>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].destNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].nextStaNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].arrT + "</p>");
						$("#trains").append("<br><br>");
						}
					}
					
			});
		});
		$("#brown").click(function(){
				$("#trains").empty();
				$.get("http://lapi.transitchicago.com/api/1.0/ttpositions.aspx?key=d37555ccc09141848543ab21e287b560&rt=brn&outputType=JSON", function(response){
					if(response.ctatt.route[0].train.length > 0){
						for(var i = 0; i<response.ctatt.route[0].train.length; i++){
						console.log(response.ctatt.route[0].train[i].nextStaNm);
						$("#trains").append("<h4>" + response.ctatt.route[0].train[i].rn + "</h4>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].destNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].nextStaNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].arrT + "</p>");
						$("#trains").append("<br><br>");
						}
					}
			});
		});
		$("#red").click(function(){
				$("#trains").empty();
				$.get("http://lapi.transitchicago.com/api/1.0/ttpositions.aspx?key=d37555ccc09141848543ab21e287b560&rt=red&outputType=JSON", function(response){
					if(response.ctatt.route[0].train.length > 0){
						for(var i = 0; i<response.ctatt.route[0].train.length; i++){
						console.log(response.ctatt.route[0].train[i].nextStaNm);
						$("#trains").append("<h4>" + response.ctatt.route[0].train[i].rn + "</h4>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].destNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].nextStaNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].arrT + "</p>");
						$("#trains").append("<br><br>");
						}
					}
			});
		});
		$("#blue").click(function(){
				$("#trains").empty();
				$.get("http://lapi.transitchicago.com/api/1.0/ttpositions.aspx?key=d37555ccc09141848543ab21e287b560&rt=blue&outputType=JSON", function(response){
					if(response.ctatt.route[0].train.length > 0){
						for(var i = 0; i<response.ctatt.route[0].train.length; i++){
						console.log(response.ctatt.route[0].train[i].nextStaNm);
						$("#trains").append("<h4>" + response.ctatt.route[0].train[i].rn + "</h4>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].destNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].nextStaNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].arrT + "</p>");
						$("#trains").append("<br><br>");
						}
					}
			});
		});
		$("#green").click(function(){
				$("#trains").empty();
				$.get("http://lapi.transitchicago.com/api/1.0/ttpositions.aspx?key=d37555ccc09141848543ab21e287b560&rt=g&outputType=JSON", function(response){
					if(response.ctatt.route[0].train.length > 0){
						for(var i = 0; i<response.ctatt.route[0].train.length; i++){
						console.log(response.ctatt.route[0].train[i].nextStaNm);
						$("#trains").append("<h4>" + response.ctatt.route[0].train[i].rn + "</h4>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].destNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].nextStaNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].arrT + "</p>");
						$("#trains").append("<br><br>");
						}
					}
			});
		});
		$("#orange").click(function(){
				$("#trains").empty();
				$.get("http://lapi.transitchicago.com/api/1.0/ttpositions.aspx?key=d37555ccc09141848543ab21e287b560&rt=org&outputType=JSON", function(response){
					if(response.ctatt.route[0].train.length > 0){						
						for(var i = 0; i<response.ctatt.route[0].train.length; i++){
						console.log(response.ctatt.route[0].train[i].nextStaNm);
						$("#trains").append("<h4>" + response.ctatt.route[0].train[i].rn + "</h4>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].destNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].nextStaNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].arrT + "</p>");
						$("#trains").append("<br><br>");
						}
					}
			});
		});
		$("#pink").click(function(){
				$("#trains").empty();
				$.get("http://lapi.transitchicago.com/api/1.0/ttpositions.aspx?key=d37555ccc09141848543ab21e287b560&rt=pink&outputType=JSON", function(response){
					if(response.ctatt.route[0].train.length > 0){
						for(var i = 0; i<response.ctatt.route[0].train.length; i++){
						console.log(response.ctatt.route[0].train[i].nextStaNm);
						$("#trains").append("<h4>" + response.ctatt.route[0].train[i].rn + "</h4>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].destNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].nextStaNm + "</p>");
						$("#trains").append("<p>" + response.ctatt.route[0].train[i].arrT + "</p>");
						$("#trains").append("<br><br>");
						}
					}
			});
		});
	});	
</script>

<div class="navbar">
	<nav class="nav__mobile"></nav>
	<div class="container">
		<div class="navbar__inner">
			<a href="#" class="navbar__logo">TrainTracker</a>
			<nav class="navbar__menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/Dashboard">Dashboard</a></li>
				</ul>
			</nav>
			<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
						<path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
						 class=""></path>
					</svg></a></div>
		</div>
	</div>
</div>
<!-- Page content -->
<div class="app">
	<div class="container">
		<div class="app__inner">
			<div class="app__menu">
				<ul class="vMenu">
					<button id="purple" class="purplebtn">Purple</button>
					<button id="yellow" class="yellowbtn">Yellow</button>
					<button id="brown" class="brownbtn">Brown</button>
					<button id="red" class="redbtn">Red</button>
					<button id="blue" class="bluebtn">Blue</button>
					<button id="green" class="greenbtn">Green</button>
					<button id="orange" class="orangebtn">Orange</button>
					<button id="pink" class="pinkbtn">Pink</button>
				</ul>
				<p id="routeName"></p>
				<p id="routeStation"></p>
				<div id="trains">
					
				</div>
			</div>
			<div class="app__main">
				<div class="text-container">
					<h3 class="app__main__title">This is the main area</h3>
					<p>Write or do whatever you want here!</p>
					<div class="img-magnifier-container">
						<!-- See magnify.js -->
						<!-- Mess with the magnifying glass in site.css - .img-magnifier-glass -->
						<img id="myimage" src="~/images/test.png" style="width:500px; height:auto;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

    var oharesvg = "M28,217 32,215 43,224 63,214 90,214 150,214 172,217 198,233 208,233 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var rosemontsvg = "M63,214 90,214 150,214 172,217 198,233 208,233 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var cumberland = "M90,214 150,214 172,217 198,233 208,233 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403"
    var harlem = "M135,214 172,217 198,233 208,233 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var jeffPark = "M198,233 208,233 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var montrose = "M221,249 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var irving = "M235,262 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var addison = "M247,275 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var belmont = "M257,288 257,307 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var logan = "M257,307 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var california = "M275,322 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403"; 
    var western = "M291,334 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var damen = "M302,343 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403" ;
    var division = "M313,351 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var chicago = "M328,365 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var grand = "M338,375 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var clklk = "M357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var washington = "M372,391 372,405 238,405 225,412 212,410 198,409 190,413 120,403"; 
    var monroe = "M372,396 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var jackson = "M372,401 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var lasalle = "M368,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var clinton = "M353,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var uic = "M345,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var racine = "M332,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var polk = "M312,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var meddes = "M307,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var western = "M290,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var kedzie = "M265,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var pulaski = "M239,405 225,412 212,410 198,409 190,413 120,403";
    var cicero = "M213,412 212,410 198,409 190,413 120,403";
    var austin = "M173,410 120,403";
    var oakpark = "M147,407 120,403";
    var harlem = "M133,405 120,403";
    var forestpark = "M120,403";


    var oharesvg2 = "M28,217 32,215 43,224 63,214 90,214 150,214 172,217 198,233 208,233 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var rosemontsvg2 = "M63,214 90,214 150,214 172,217 198,233 208,233 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var cumberland2 = "M90,214 150,214 172,217 198,233 208,233 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403"
    var harlem2 = "M135,214 172,217 198,233 208,233 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var jeffPark2 = "M198,233 208,233 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var montrose2 = "M221,249 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var irving2 = "M235,262 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var addison2 = "M247,275 257,285 259,309 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var belmont2 = "M257,288 257,307 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var logan2 = "M257,307 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var california2 = "M275,322 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403"; 
    var western2 = "M291,334 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var damen2 = "M302,343 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403" ;
    var division2 = "M313,351 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var chicago2 = "M328,365 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var grand2 = "M338,375 342,376 357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var clklk2 = "M357,387 372,387 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var washington2 = "M372,391 372,405 238,405 225,412 212,410 198,409 190,413 120,403"; 
    var monroe2 = "M372,396 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var jackson2 = "M372,401 372,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var lasalle2 = "M368,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var clinton2 = "M353,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var uic2 = "M345,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var racine2 = "M332,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var polk2 = "M312,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var meddes2 = "M307,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var western2 = "M290,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var kedzie2 = "M265,405 238,405 225,412 212,410 198,409 190,413 120,403";
    var pulaski2 = "M239,405 225,412 212,410 198,409 190,413 120,403";
    var cicero2 = "M213,412 212,410 198,409 190,413 120,403";
    var austin2 = "M173,410 120,403";
    var oakpark2 = "M147,407 120,403";
    var harlem2 = "M133,405 120,403";
    var forestpark2 = "M120,403";


</script>
