<div class="navbar navbar--extended">
	<nav class="nav__mobile"></nav>
	<div class="container">
		<div class="navbar__inner">
			<a href="/" style="display: flex; align-items: center;" class="navbar__logo"><img height="42px" src="~/images/logo.svg">TrainTracker</a>
			<nav class="navbar__menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/Dashboard">Dashboard</a></li>
					<li><a href="/Tips">Tips</a></li>
				</ul>
			</nav>
			<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
						<path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
						 class=""></path>
					</svg></a></div>
		</div>
	</div>
</div>
<!-- Hero unit -->
<div class="page__header">
	<div class="hero__overlay hero__overlay--gradient"></div>
	<div class="hero__mask"></div>
	<div class="page__header__inner">
		<div class="container">
			<div class="page__header__content">
				<div class="page__header__content__inner" id='navConverter'>
					<h1 class="page__header__title">The New Chicago Metro Map</h1>
					<p class="page__header__text">Welcome! TrainTracker is an interactive public transportation map that track trains
						real time. Data is provided by Chicago Transit Authority (CTA).</p>
					</div>
					<img src="~/images/main.svg" height="256px" />
			</div>
		</div>
	</div>
</div>
<!-- Steps -->
<div class="steps landing__section">
	<div class="container">
		<h2>What is TrainTracker good for?</h2>
		<p>Here's what we can think of, but surely creative people will surprise us.</p>
	</div>
	<div class="container">
		<div class="steps__inner">
			<div class="step">
				<div class="step__media">
					<img src="~/images/programmer.svg" class="step__image">
				</div>
				<h4>Planning Your Routes</h4>
				<p class="step__text">A data visual of CTA train traffic for your travels. Plan out your routes like the old days.</p>
			</div>
			<div class="step">
				<div class="step__media">
					<img src="~/images/construction.svg" class="step__image">
				</div>
				<h4>Avoiding Delays</h4>
				<p class="step__text">A website for avoiding the pitfalls of signal clearance. Let the world seek and enjoy seemless transportation.</p>
			</div>
			<div class="step">
				<div class="step__media">
					<img src="~/images/brainstorm.svg" class="step__image">
				</div>
				<h4>Analyzing Traffic</h4>
				<p class="step__text">A great starting point for your data science application. Focus on finding cool patterns in traffic and executing your idea.</p>
			</div>
		</div>
	</div>
</div>
<!-- Expanded sections -->
<div class="expanded landing__section">
	<div class="container">
		<div class="expanded__inner">
			<div class="expanded__media">
				<img src="~/images/browser.svg" class="expanded__image">
			</div>
			<div class="expanded__content">
				<h2 class="expanded__title">Intuitive dashboard with easy-to-find controls</h2>
				<p class="expanded__text">TrainTracker brings you the pages you'll need to start tracking trains and the structure to view CTA status on your own, without a
					learning curve. It is minimal and features simple-to-use UI. There are only a few settings you'll need to configure, 
					but nothing to disrupt the ease of tracking a desired train.</p>
			</div>
		</div>
	</div>
</div>
<!-- Call To Action -->
<div class="cta cta--reverse">
	<div class="container">
		<div class="cta__inner">
			<h2 class="cta__title">Get started now</h2>
			<p class="cta__sub cta__sub--center">Navigate to the dashboard and start tracking trains instantly.</p>
			<a href="/Dashboard" class="button button__accent">Demo TrainTracker</a>
		</div>
	</div>
</div>
<!-- Footer -->
<div class="footer footer--dark">
	<div class="container">
		<div class="footer__inner">
			<a href="#" class="footer__textLogo">TrainTracker</a>
			<div class="footer__data">
				<div class="footer__data__item">
					<div class="footer__row">
						Created for visualizing CTA traffic using <a href="https://www.transitchicago.com/traintracker/" target="_blank"
						 class="footer__link">cta train tracker api</a>
					</div>
				</div>
				<div class="footer__data__item">
					<div class="footer__row">Special thanks to <a href="https://undraw.co" target="_blank" class="footer__link">unDraw</a>
						for the art and support
					</div>
				</div>
			</div>
		</div>
	</div>
</div>